<?xml version="1.0" ?>
<config>
    <modules>
        <Itransition_Insurance>
            <version>0.1.0</version>
        </Itransition_Insurance>
    </modules>
    <global>
        <helpers>
            <insurance>
                <class>Itransition_Insurance_Helper</class>
            </insurance>
        </helpers>
        <models>
            <insurance>
                <class>Itransition_Insurance_Model</class>
                <resourceModel>insurance_resource</resourceModel>
            </insurance>
            <insurance_resource>
                <class>Itransition_Insurance_Model_Resource</class>
            </insurance_resource>
        </models>
    </global>
    <frontend>

    </frontend>
    <default>
        <insurance>
            <settings>
                <enabled>1</enabled>
            </settings>
            <flatrate>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </flatrate>
            <tablerates>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </tablerates>
            <freeshipping>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </freeshipping>
            <ups>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </ups>
            <usps>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </usps>
            <fedex>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </fedex>
            <dhldeprecated>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </dhldeprecated>
            <dhl>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </dhl>
        </insurance>
    </default>
</config>