<?xml version="1.0" ?>
<config>
    <modules>
        <Itransition_Insurance>
            <version>1.0.0</version>
        </Itransition_Insurance>
    </modules>
    <global>
        <helpers>
            <insurance>
                <class>Itransition_Insurance_Helper</class>
            </insurance>
        </helpers>
        <models>
            <insurance>
                <class>Itransition_Insurance_Model</class>
                <resourceModel>insurance_resource</resourceModel>
            </insurance>
            <insurance_resource>
                <class>Itransition_Insurance_Model_Resource</class>
            </insurance_resource>
            <checkout>
                <rewrite>
                    <type_onepage>Itransition_Insurance_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <insurance_setup>
                <setup>
                    <module>Itransition_Insurance</module>
                </setup>
            </insurance_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <insurance><to_order>*</to_order></insurance>
            </sales_convert_quote>
        </fieldsets>
        <rewrite>
            <insurance>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/custom/onepage/</to>
            </insurance>
        </rewrite>
        <blocks>
            <insurance>
                <class>Itransition_Insurance_Block</class>
            </insurance>
            <checkout>
                <rewrite>
                    <onepage>Itransition_Insurance_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_totals>Itransition_Insurance_Block_Order_Totals</order_totals>
                    <order_invoice_totals>Itransition_Insurance_Block_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Itransition_Insurance_Block_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Itransition_Insurance_Block_Adminhtml_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Itransition_Insurance_Block_Adminhtml_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Itransition_Insurance_Block_Adminhtml_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/sales_quote_address_total_insurance</class>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_invoice_total_insurance</class>
                    </insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_creditmemo_total_insurance</class>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <insurance>
                    <model>Itransition_Insurance_Model_Sales_Order_Pdf_Total_Insurance</model>
                    <font_size>14</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>690</sort_order>
                </insurance>
            </totals>
        </pdf>
    </global>
    <frontend>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Itransition_Insurance</module>
                    <frontName>custom</frontName>
                </args>
            </custom>
        </routers>
        <layout>
            <updates>
                <insurance>
                    <file>custom.xml</file>
                </insurance>
            </updates>
        </layout>
        <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <insurance>
                        <class>insurance/observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                        <type>model</type>
                    </insurance>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </frontend>
    <default>
        <insurance>
            <settings>
                <enabled>1</enabled>
            </settings>
            <flatrate>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </flatrate>
            <tablerates>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </tablerates>
            <freeshipping>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </freeshipping>
            <ups>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </ups>
            <usps>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </usps>
            <fedex>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </fedex>
            <dhldeprecated>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </dhldeprecated>
            <dhl>
                <enabled>1</enabled>
                <type>0</type>
                <value>1</value>
            </dhl>
        </insurance>
    </default>
</config>